<!DOCTYPE html>
<html>
<head>
  <title>UsersRole</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->


<% if session[:user_id] %>
    <div class="col-sm-11">
      <% user = User.find_by(id: session[:user_id]) %>
    </div>
    <div class="col-sm-1">
      <h3><%= user.login %> <%= button_to 'Logout', logout_path, method: :delete, :class => 'btn btn-info'   %></h3>
    </div>
<% end %>

<!-- END_HIGHLIGHT -->

<%= yield %>

</body>
</html>
